html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo Black", serif;
  font-size: 1rem;
  line-height: 1.2;
  color: white;
  margin: 0;
}

.gradient-bg {
  background-image: linear-gradient(to bottom, navy, rgb(68, 68, 68));
  overflow-x: hidden;
}

main {
  max-width: 55em;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: magenta;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: red;
}

em {
  color: plum;
}


/* Default Nav style */
.topnav {
  display: block;
  background-color: rgb(44, 42, 42);
  padding: 0.5em;
}

.site-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
  align-items: flex-start;
}
.site-nav li {
  padding-left: 1em;
}

/* Mobile - Nav */
@media (max-width: 50em) {
  .site-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  } 

  .site-nav li {
    padding-left: 0.6em;
  }
  
}


/* About */
.name {
  padding: 1em;
}

.name i {

  font-size: 0.9em;}

.about {
  color: white;
  text-align: center;
}

.about h2 {
  text-decoration: underline;
  font-size: 2.5em;
}

.description {
  font-size: 1em;
  margin: 0;
}


/* Projects */
.projects {
  color: white;
  margin-top: 5em;
}

.projects h3 {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.project-block {
  background-color: rgb(46, 46, 46);
  border: 2px white solid;
  border-radius: 5%;
  padding: 2em;
}

.project-img {
  justify-self: center;
  width: 10em;
  height: auto;
  padding-left: 0.5em;
}

.project-header {
  background-color: white;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}

/* Footer */
.footer {
  padding: 1em;
  background-color: rgb(44, 42, 42);
  margin-top: 2em;
  text-align: center;
}

.footer a {
  color: pink;
  text-decoration: underline;
}
