* {
  box-sizing: border-box;
}

:root {
  --main-font: "Russo One", serif;
	--sub-font: "Nunito", sans-serif;
}

a:visited {
  color: royalblue;
}

a:hover {
  color: gold;
}

button:hover {
  cursor: pointer;
  color: royalblue;
	-webkit-text-stroke: 0px;
}



/*------------------ Body ------------------*/

body {
  margin: 0;
  background-color: burlywood;
}



/*------------------ Header ------------------*/

.site-header {
  display: flex;
	width: 100%;
	padding: 3rem 6rem 3rem 6rem;
	align-items: center;
	max-height: 6rem;
	background-color: sandybrown;
	position: fixed;
	justify-content: space-between;
	z-index: 10000;
}

.topnav {
	align-items: center;
}

.home-link {
  display: inline-block;
}

.nav-links {
  margin-right: auto;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
	padding: 0;
	gap: 3rem;
}

.nav-links li {
  padding: 0;
}

.nav-links a {
  text-decoration: none;
	font-family: var(--main-font);
	font-size: 1.8rem;
}

.nav-button {
  display: none;
}

.active {
  border-bottom: 4px solid gold;
}


/*------------------ Main ------------------*/

.banner {
  display: flex;
  justify-content: center;
	height: 58rem;
}

.banner h1 {
  position: absolute;
	font-size: 4rem;
	color: gold;
	font-family: var(--main-font);
	font-weight: 300;
	top: 9rem;
	z-index: 1000;
}

.banner img {
  width: 100%;
  object-fit: cover;
	object-position: center;
}


/*------ Homepage ------*/

.brief {
  font-family: var(--sub-font);
	font-size: 1.75rem;
  max-width: 70rem;
	margin: auto;
	margin-top: 8rem;
	padding: 1rem 2.5rem 1rem 2.5rem;
	background-color: #0059b8;
	border: solid 3px gold;
	border-radius: 20px;
}

.brief p {
  font-weight: 700;
  color: white;
}

.updates {
	 padding: 1rem;
	 max-width: 40rem;
	 margin: auto;
	 margin-top: 6rem;
}

.updates legend {
  font-size: 2rem;
  text-align: center;
	font-weight: 700;
}
   
.updates-form {
  background-color: #0059b8;
	border: 3px solid gold;
	font-family: var(--sub-font);
	font-size: 1.5rem;
	color: white;
	border-radius: 10px;
	padding: 2rem;
}

.update-input {
  display: block;
  text-align: left;
	margin: auto; 
	padding-top: 1rem;
}

.update-input input {
  height: 2rem;
	font-size: 1.4rem;
	text-align: bottom;
	width: 100%;
	border-radius: 5px;
}

.update-input label {
  text-decoration: underline;
	font-size: 1.8rem;
}

.form-submit {
  text-align: center;
	padding: 2rem;
}

.submit-info {
  font-family: var(--main-font);
	-webkit-text-stroke: 1px royalblue;
  background: gold;
	color: white;
	border: none;
	font-weight: 500;
	font-size: 2rem;
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 15px;
}


/*------ History ------*/

.history-banner {
  display: flex;
  justify-content: center;
	height: 48rem;
}

.history-banner img {
  width: 100%;
  object-fit: cover;
	object-position: center;
}
.quote {
  position: absolute;
	text-align: center;
  color: white;
	background-color: rgb(0, 89, 184, 0.5);
	top: 40%;
	backdrop-filter: blur(1px);
	border-radius: 50px;
}

.quote h1 {
  font-size: 2.5rem;
}

.quote h2 {
  font-size: 1.75rem;
}

.foreword {
  text-align: center;
	color: white;
	margin: auto;
	margin-top: 4rem;
	max-width: 60%;
	padding: 1.5rem;
	background-color: #0059b8;
	border-radius: 40px;
	border: 3px solid gold;
}

.foreword h3 {
  font-size: 2.5rem;
	text-decoration: underline;
}

.foreword p {
  font-size: 1.75rem;
	text-align: left;
}

.history-grid {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 4rem;
}

.grid-item {
  
}

.grid-text {
  padding: 2rem;
}

.grid-text h4 {
  font-size: 2rem;
	text-align: center;
	text-decoration: underline;
	font-weight: 700;
	font-family: var(--main-font);
	color: #0059b8;
}

.grid-text p {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--sub-font);
	background-color: rgb(0, 89, 184, 0.5);
	border-radius: 40px;
	padding: 1.5rem;
	margin: 0 2rem 0 2rem;
  color: white;
}

.grid-item img{
  object-fit: cover;
	width: 100%;
	height: 100%;
}

.grid-item video {
  width: 100%;
	height: 100%;
}

.img-4 {
  object-fit:fill;
  object-position: center;
	max-height: 38rem;
}





/*------ Landmarks ------*/
.landmarks-banner {
  display: flex;
	justify-content: center;
	max-height: 18rem;
	margin-bottom: 3rem;
}

.landmarks-banner img {
  width: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.5) blur(2px);
}

.banner-text {
  position: absolute;
	top: 6rem;
	color: white;
	font-family: var(--main-font);
	font-size: 1.5rem;
	text-align: center;
}

.banner-text p {
  
	font-family: var(--sub-font);
}

.landmark-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 12rem;
	grid-auto-flow: dense;
	gap: 1rem;
	margin: 0 1rem 0 1rem;
}

.landmark-grid-item img {
  display: block;
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	height: 100%;
	text-align: center;
}

.opera {
	grid-row: span 3;
}

.square {
  grid-row: span 4;
}

.st-michaels {
  grid-row: span 3;
}

.nest {
  order: 2;
	grid-column: 1;
	grid-row: 3;
	grid-row: span 2;
}

.monument {
  grid-column: 3;
  grid-row: span 3;
}

.st-sophia {
  grid-column: 2;
	grid-row: span 2;
}


/*------ Cuisine ------*/

.cuisine-banner {
  display: flex;
	justify-content: center;
	max-height: 18rem;
	margin-bottom: 3rem;
}

.cuisine-banner img {
  width: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.5) blur(2px);
}

.cuisine-grid {
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
}

.cuisine-item {
  display: flex;
	margin: 1rem;
	padding: 2rem;
}

.cuisine-item img {
  display: block;
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	height: 100%;
	text-align: center;
}


/*------ Credits ------*/



/*------------------ Footer ------------------*/

.footer-body {
  text-align: center;
	margin-top: 6rem;
	padding: 1.75rem;
	font-family: var(--sub-font);
	font-size: 1.5rem;
	background-color: sandybrown;
}

.redirect {
  padding: 1rem 2rem 1rem 2rem;
	border-radius: 15px;
	color: white;
	font-weight: 600;
	font-size: 1.8rem;
}

.redirect:hover {
  background-color: royalblue;
	color: white;
}

.redirect:visited {
  color: gold
}


/*------------------ Mobile ------------------*/

/*--------- Header ---------*/

@media (max-width: 60rem) {
  .site-header {
	  display: flex;
	  padding-left: 1rem;
		padding-right: 1rem;
		justify-content: space-between;
		z-index: 10000;
	}

	.nav-button {
	  display: block;
		border: none;
		outline: none;
		margin-left: auto;
		background: none;
	}

	.fa-bars {
	  font-size: 3rem;
	}

	.nav-links {
	  display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		right: 0;
		background: sandybrown;
		padding: 1rem;
	}

	.nav-links.active {
	  position: absolute;
	  display: flex;
		margin-top: 0;
		z-index: 10000;
		border: 2px solid gold;
	}

  .quote h1 {
	  text-align: center;
	}


/*--------- Main ---------*/
	 .banner {
	   position: relative;
	   overflow: hidden;
		 height: 34rem;
	 }

	 .banner h1 {
	   position: absolute;
	   font-size: 2.5rem;
		 top: 8rem;
		 z-index: 100;
	 }

	 .banner img {
	   display: block;
	   object-fit: cover;
		 object-position: center top;
		 height: 100%;
		 width: 100%;
	 }

	 .brief {
	   font-size: 1.2rem;
     padding: 1rem;
	 }

   .updates {
	   padding: 1rem;
	   max-width: 70rem;
	   margin: auto;
   }
   
   .updates-form {
     background-color: royalblue;
	   font-family: var(--sub-font);
	   font-size: 1.5rem;
	   color: white;
	   border-radius: 10px;
	   padding: 1rem;
		 margin-top: 3rem;
   }

	 .brief {
	   margin-top: 3rem;
	 }
   
   .foreword {
	   max-width: 100%;
	 }

	 .foreword h3 {
	   font-size: 1.5rem;
	 }

	 .foreword p {
	   font-size: 1.25rem;
	 }

   .history-grid {
	   grid-template-columns: 1fr;
	 }

   .grid-item {
	   padding: 0;
	 }

   .grid-text {
	   padding: 0;
		 padding-bottom: 4rem;
	 }

   .grid-text p {
	   font-size: 1rem;
		 
	 }

	 .grid-item img {
	   height: auto;
		 padding: 0;
	 }

   .img-2 {
	   order: 3;
	 }

   .text-2 {
     order: 4;
   }

	 .img-3 {
	   order: 5;
	 }

	 .text-3 {
	   order: 6;
	 }

	 .img-4 {
	   order: 7;
	 }

	 .text-4 {
	   order: 8;
	 }

   .landmarks-banner {
	   min-height: 18rem;
	 }

	 .landmarks-banner h1 {
	   font-size: 2.5rem;
	 }

	 .landmarks-banner p {
	   font-size: 1.1rem;
	 }

   .landmark-grid {
	   grid-template-columns: repeat(1, 1fr);
		 grid-auto-rows: auto;
		 margin: 0;
	 }

   .opera,
	 .square,
	 .monument,
	 .nest,
	 .st-michaels,
	 .st-sophia {
	   grid-row: auto;
		 grid-column: auto;
		 order: initial;
	 }


	 .landmark-grid-item img {
	   height: auto;
		 padding: 0 1rem 0 1rem;
		 border-radius: 0;
	 }

   .cuisine-banner {
	   min-height: 18rem;
	 }

	 .cuisine-banner h1 {
	   font-size: 2.5rem;
	 }

	 .cuisine-banner p {
	   font-size: 1.1rem;
	 }

/*--------- Footer ---------*/

.footer-body {
  margin-top: 3rem;
}

}