/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindset-blocks-company-address {
  display: flex;
  align-items: center;
  gap: 1rem;
}
						
.wp-block-mindset-blocks-company-address p {
  margin: 0;
  font-style: normal;
	}
						
.wp-block-mindset-blocks-company-address svg {
  width: 2rem;
  height: 2rem;
}
